/* @group Lafayette-specific fixes */
/*Fixes the white header color when viewed in the grader*/

.path-grade-report-grader table {
background-color:#822433;
}

/* This class doesn't look to be defined anywhere in Rocket */
/* This fix pushes the profile picture more to the right so it doesn't get cut off*/

.userprofile {
margin-left:35px;
}

/* @end */


/* @group Core */

a:visited {
    color: [[setting:contentlinkcolor]];
    text-decoration: underline;
}

/* @end */

/* @group Header */

#page-header {
    height: 130px;
    width: 100%;
    background: transparent;
    border-bottom: [[setting:menutrimcolor]] 3px solid;
}

#headerstrip {
	width: 100%;
	background: #333333;
	height: 53px;
	vertical-align: middle;
	font-size: 1em;
	text-transform: uppercase;
}

/* @end */

/* @group Editing Button */

#ebutton {
width : 250px;
float : right;
text-align : right;
margin: 10px;
color: #fff;
}
/* @end */

/* @group Edit Mode */

#dndupload-status,
#editingmode {
	text-align: center;
	background: #006699;
	color: #fff;
	padding: 5px;
	font-size: .9em;
	border-bottom: 3px solid #006699;
}

/* Aligns the text "Edit Mode" to the center of the edit button */
#editmode {
	padding:7px 70px 0 0;
}

/* @group Navbar & Breadcrumb */

.breadcrumb li a:hover {
text-decoration:underline;
border-bottom: 0px;
}
/* @end */
