/* Custom Menu
-------------------------- */

#custommenu ul li {
    border-right: 0px;
    border-left: 0px;
}

/*
Dropdown Menu - CSS from DeCaf Theme by Lei Zhang
-------------------------------------------------*/

ul.dropdown span.customitem a {
    padding:5px 20px;
}


ul.dropdown li:hover {
    position:relative;
    z-index:599;
    cursor:default;
    text-decoration:underline;
}